
<div id="content" class="site-content">
    <div id="primary" class="content-area primary">
        <main id="main" class="site-main" role="main">

            <article id="post-4808" class="post-4808 post type-post status-publish format-standard hentry category-news tag-chrome tag-google tag-https tag-1185 sux">
                <div class="entry-content">

                    <ul class="single-meta">
                        <li class="print">
                            <a href="javascript:printme()" target="_self" title="打印"><i class="be be-print"></i></a>
                        </li>
                        <li class="comment">
                            <a href="#" rel="external nofollow"><i class="be be-speechbubble"></i> 发表评论</a>
                        </li>
                        <li class="views"><i class="be be-eye"></i> 486</li>
                        <li class="r-hide">
                            <a href="#"><span class="off-side"></span></a>
                        </li>
                    </ul>
                    <div class="single-cat-tag">
                        <div class="single-cat">
                            所属分类：
                            <a href="#" rel="category tag">@ViewBag.typename</a>
                        </div>
                    </div>
                    <div class="single-content">
                        @Html.Raw(ViewBag.content)
                    </div>

                    <div class="clear"></div>
                    <div id="social">
                        <div class="social-main">
                            <span class="like">
                                <a href="javascript:;" data-action="ding" data-id="4808" title="点赞" class="dingzan">
                                    <i class="be be-thumbs-up-o"></i>赞 <i class="count">
                                        6
                                    </i>
                                </a>
                            </span>
                            <div class="shang-p">
                                <div class="shang-empty"><span></span></div>
                                <span class="tipso_style" id="tip-p" data-tipso='
                                <span id="shang">
                                <span class="shang-main">
                                <h4><i class="be be-favorite" aria-hidden="true"></i> 您可以选择一种方式赞助本站</h4>
                                <span class="shang-img">
                                <img src="/images/zhifubaoshou.png" alt="alipay"/>
                                <h4>支付宝扫一扫赞助</h4></span>
                                <span class="shang-img">
                                <img src="/images/weixinshou.png" alt="weixin"/>
                                <h4>微信钱包扫描赞助</h4>								</span>
                                <span class="clear"></span>
                                </span>
                                </span>'>
                                <span class="shang-s"><a title="赞助本站">赏</a></span>
                                </span>
                            </div>
                            <div class="share-sd">
                                <span class="share-s"><a href="javascript:void(0)" id="share-s" title="分享"><i class="be be-share"></i>吐槽</a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <!-- .entry-content -->

            </article>
            <!-- #post -->
            <div id="single-widget">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <!--近期文章-->
                    <aside id="recent-posts-2" class="widget widget_recent_entries wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="widget-title"><span class="s-icon"></span>近期文章</h3>
                        <ul>
                            <li>
                                <a href="#">Google 对 HTTPS 的推广是否误入歧途？</a>
                                <span class="post-date">2018-07-03</span>
                            </li>
                            <li>
                                <a href="#">那些“纯净版”的APP应用们</a>
                                <span class="post-date">2018-06-23</span>
                            </li>
                            <li>
                                <a href="#">谷歌商务应用工具 App Maker 正式上线</a>
                                <span class="post-date">2018-06-16</span>
                            </li>
                            <li>
                                <a href="#"> 在使用的几款 Chrome 插件(扩展程序)</a>
                                <span class="post-date">2018-06-15</span>
                            </li>
                            <li>
                                <a href="#">谷歌将禁止从第三方来源安装Chrome扩展程序（插件）</a>
                                <span class="post-date">2018-06-14</span>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </aside>
                    <!--大家喜欢-->
                    <aside id="like_most_img-2" class="widget like_most_img wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="widget-title"><span class="s-icon"></span>大家喜欢</h3>
                        <div id="like" class="like_most">
                            <ul>
                                <li>
                                    <span class='li-icon li-icon-1'>1</span>
                                    <a href="#">【最新】2018 hosts 持续更新【更新于:2018-06-13】</a>
                                </li>
                                <li>
                                    <span class='li-icon li-icon-2'>2</span>
                                    <a href="#">开启Opera浏览器自带隐藏福利功能 畅通无阻上谷歌YouTube等&#8230;</a>
                                </li>
                                <li>
                                    <span class='li-icon li-icon-3'>3</span>
                                    <a href="#">BaiduPCS-Go 使用CMD命令行全速下载百度云</a>
                                </li>
                                <li>
                                    <span class='li-icon li-icon-4'>4</span>
                                    <a href="#"> 在使用的几款 Chrome 插件(扩展程序)</a>
                                </li>
                                <li>
                                    <span class='li-icon li-icon-5'>5</span>
                                    <a href="#">下载利器（IDM）Internet Download Manager v6.30.8 中文特别版</a>
                                </li>
                            </ul>
                        </div>

                        <div class="clear"></div>
                    </aside>

                </div>
                <div class="clear"></div>
            </div>
        </main>
        <!-- .site-main -->
    </div>
    <!-- .content-area -->
    <div class="clear"></div>
</div>

