
@font-face {font-family: "zm";
  src: url('../fonts/font_441030_36d9kr3l21g1ra4i.eot'); /* IE9*/
  src: url('../fonts/font_441030_36d9kr3l21g1ra4i.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/15f6248fd7ef4aec80a803397d9ed182.woff') format('woff'),
  url('../fonts/font_441030_36d9kr3l21g1ra4i.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/font_441030_36d9kr3l21g1ra4i.svg') format('svg'); /* iOS 4.1- */
}

.zm {
  font-family:"zm" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zm-tengxunweibo:before { content: "\e600"; }

.zm-anquan:before { content: "\e627"; }

.zm-gongju:before { content: "\e699"; }

.zm-aixinjuanzeng:before { content: "\e60e"; }

.zm-yaoqingma:before { content: "\e687"; }

.zm-shipin:before { content: "\e631"; }

.zm-link:before { content: "\e65c"; }

.zm-feiji:before { content: "\e638"; }

.zm-wangyelianjie:before { content: "\e601"; }

.zm-yaoqingma1:before { content: "\e642"; }

.zm-remen:before { content: "\e6a6"; }

.zm-juanzeng:before { content: "\e682"; }

.zm-weixin:before { content: "\e678"; }

.zm-zuixin:before { content: "\e764"; }

.zm-yaoqingma2:before { content: "\e63a"; }

.zm-img:before { content: "\e623"; }

.zm-iconset0142:before { content: "\e629"; }

.zm-iconset0284:before { content: "\e6b7"; }

.zm-gonggao:before { content: "\e632"; }

.zm-google:before { content: "\e6b6"; }

.zm-remen1:before { content: "\e6c2"; }

.zm-biaoqian:before { content: "\e610"; }

.zm-keji:before { content: "\e701"; }

.zm-gongju1:before { content: "\e666"; }

.zm-mianfei:before { content: "\e60f"; }

.zm-feiji1:before { content: "\e6ae"; }

.zm-yinle:before { content: "\e6ca"; }

.zm-message:before { content: "\e630"; }

.zm-biaoqian1:before { content: "\e66d"; }

.zm-meitu:before { content: "\e773"; }

.zm-liuyan:before { content: "\e61f"; }

.zm-shi:before { content: "\e634"; }

.zm-gonggao1:before { content: "\e61c"; }

.zm-tougao:before { content: "\e615"; }

.zm-mianfei-copy:before { content: "\e604"; }

.zm-anquan1:before { content: "\e64c"; }

.zm-iconfontbiaozhunmoban01:before { content: "\e602"; }

.zm-biaoqian2:before { content: "\e650"; }

.zm-weibo:before { content: "\e667"; }

.zm-zixun1:before { content: "\e633"; }

.zm-shouye:before { content: "\e60d"; }

.zm-zixun:before { content: "\e619"; }

.zm-xinqingyiban:before { content: "\e658"; }

.zm-google1:before { content: "\e7e1"; }

.zm-gengduo:before { content: "\e668"; }

.zm-suiji:before { content: "\e61e"; }

.zm-youjian:before { content: "\e660"; }

.zm-gengduo1:before { content: "\e611"; }

.zm-Google:before { content: "\e649"; }

.zm-weixin2:before { content: "\e603"; }

.zm-weibo1:before { content: "\e63c"; }

.zm-code:before { content: "\e64f"; }

.zm-youjian1:before { content: "\e69f"; }

.zm-GoHosts:before { content: "\e780"; }

.zm-dianying:before { content: "\e612"; }

.zm-xinxinicon:before { content: "\e688"; }

.zm-youxianwangluo:before { content: "\e613"; }

.zm-fangxiang:before { content: "\e65e"; }

.zm-WeiXin:before { content: "\e669"; }

